.highlight .hll { background-color: #404040 }
.highlight  { color: #d0d0d0 }
.highlight .pl-c { color: #999999; font-style: italic } /* Comment */
.highlight .pl-err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .pl-g { color: #d0d0d0 } /* Generic */
.highlight .pl-k { color: #6ab825; font-weight: normal } /* Keyword */
.highlight .pl-l { color: #d0d0d0 } /* Literal */
.highlight .pl-n { color: #d0d0d0 } /* Name */
.highlight .pl-o { color: #d0d0d0 } /* Operator */
.highlight .pl-x { color: #d0d0d0 } /* Other */
.highlight .pl-p { color: #d0d0d0 } /* Punctuation */
.highlight .pl-cm { color: #999999; font-style: italic } /* Comment.Multiline */
.highlight .pl-cp { color: #cd2828; font-weight: normal } /* Comment.Preproc */
.highlight .pl-c1 { color: #999999; font-style: italic } /* Comment.Single */
.highlight .pl-cs { color: #e50808; font-weight: normal; background-color: #520000 } /* Comment.Special */
.highlight .pl-gd { color: #d22323 } /* Generic.Deleted */
.highlight .pl-ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.highlight .pl-gr { color: #d22323 } /* Generic.Error */
.highlight .pl-gh { color: #ffffff; font-weight: normal } /* Generic.Heading */
.highlight .pl-gi { color: #589819 } /* Generic.Inserted */
.highlight .pl-go { color: #cccccc } /* Generic.Output */
.highlight .pl-gp { color: #aaaaaa } /* Generic.Prompt */
.highlight .pl-gs { color: #d0d0d0; font-weight: normal } /* Generic.Strong */
.highlight .pl-gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.highlight .pl-gt { color: #d22323 } /* Generic.Traceback */
.highlight .pl-kc { color: #6ab825; font-weight: normal } /* Keyword.Constant */
.highlight .pl-kd { color: #6ab825; font-weight: normal } /* Keyword.Declaration */
.highlight .pl-kn { color: #6ab825; font-weight: normal } /* Keyword.Namespace */
.highlight .pl-kp { color: #6ab825 } /* Keyword.Pseudo */
.highlight .pl-kr { color: #6ab825; font-weight: normal } /* Keyword.Reserved */
.highlight .pl-kt { color: #6ab825; font-weight: normal } /* Keyword.Type */
.highlight .pl-ld { color: #d0d0d0 } /* Literal.Date */
.highlight .pl-m { color: #3677a9 } /* Literal.Number */
.highlight .pl-s { color: #9dd5f1 } /* Literal.String */
.highlight .pl-na { color: #bbbbbb } /* Name.Attribute */
.highlight .pl-nb { color: #24909d } /* Name.Builtin */
.highlight .pl-nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.highlight .pl-no { color: #40ffff } /* Name.Constant */
.highlight .pl-nd { color: #ffa500 } /* Name.Decorator */
.highlight .pl-ni { color: #d0d0d0 } /* Name.Entity */
.highlight .pl-ne { color: #bbbbbb } /* Name.Exception */
.highlight .pl-nf { color: #447fcf } /* Name.Function */
.highlight .pl-nl { color: #d0d0d0 } /* Name.Label */
.highlight .pl-nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.highlight .pl-nx { color: #d0d0d0 } /* Name.Other */
.highlight .pl-py { color: #d0d0d0 } /* Name.Property */
.highlight .pl-nt { color: #6ab825;} /* Name.Tag */
.highlight .pl-nv { color: #40ffff } /* Name.Variable */
.highlight .pl-ow { color: #6ab825; font-weight: normal } /* Operator.Word */
.highlight .pl-w { color: #666666 } /* Text.Whitespace */
.highlight .pl-mf { color: #3677a9 } /* Literal.Number.Float */
.highlight .pl-mh { color: #3677a9 } /* Literal.Number.Hex */
.highlight .pl-mi { color: #3677a9 } /* Literal.Number.Integer */
.highlight .pl-mo { color: #3677a9 } /* Literal.Number.Oct */
.highlight .pl-sb { color: #9dd5f1 } /* Literal.String.Backtick */
.highlight .pl-sc { color: #9dd5f1 } /* Literal.String.Char */
.highlight .pl-sd { color: #9dd5f1 } /* Literal.String.Doc */
.highlight .pl-s2 { color: #9dd5f1 } /* Literal.String.Double */
.highlight .pl-se { color: #9dd5f1 } /* Literal.String.Escape */
.highlight .pl-sh { color: #9dd5f1 } /* Literal.String.Heredoc */
.highlight .pl-si { color: #9dd5f1 } /* Literal.String.Interpol */
.highlight .pl-sx { color: #ffa500 } /* Literal.String.Other */
.highlight .pl-sr { color: #9dd5f1 } /* Literal.String.Regex */
.highlight .pl-s1 { color: #9dd5f1 } /* Literal.String.Single */
.highlight .pl-ss { color: #9dd5f1 } /* Literal.String.Symbol */
.highlight .pl-bp { color: #24909d } /* Name.Builtin.Pseudo */
.highlight .pl-vc { color: #40ffff } /* Name.Variable.Class */
.highlight .pl-vg { color: #40ffff } /* Name.Variable.Global */
.highlight .pl-vi { color: #40ffff } /* Name.Variable.Instance */
.highlight .pl-il { color: #3677a9 } /* Literal.Number.Integer.Long */